@use "../../shared/styles/variables" as *;

.customer-container {
    height: 100vh;
    width: 100vw;
    background-color: $color-primary;
    .customer-card {
        background-color: $color-secondary;
        h1 {
            text-align: center;
            color: white;
        }
    }
}