<div class="shop-container">

  <h2>Browse Our Products</h2>

  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for products..."
      [value]="searchTerm"
      (input)="onSearch($event)"
    />
  </div>

  <div class="category-row">
    @for (c of categories; track c) {
      <button
        [class.active]="activeCategory === c"
        (click)="filterCategory(c)"
      >
        {{ c }}
      </button>
    }
  </div>

  <div class="product-grid">

    @for (p of filtered; track p.id) {

      <div class="product-card">
        
        <div class="img-wrap">
          <img
            [src]="p.imageUrl ?? 'assets/images/placeholder.png'"
            [alt]="p.name"
          />
        </div>

        <div class="details">
          <h3>{{ p.name }}</h3>
          <p>{{ p.description }}</p>

          <div class="meta">
            <span class="price">${{ p.price }}</span>
            <span class="stock">Stock: {{ p.stockQuantity }}</span>
          </div>

          @if (p.stockQuantity > 0) {
            <button class="add-btn">
              Add to Cart
            </button>
          } @else {
            <button class="add-btn" disabled>
              Out of Stock
            </button>
          }
        </div>

      </div>

    }
  </div>
  <app-button
      (click)="logout()"
      class="w-100"
      classAppend="w-100"
      label="Logout"
      fill="true">
    </app-button>
</div>
