@use '../../shared/styles/variables' as *;

.auth-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient($color-bg, $color-secondary);
}

.toggle {
  width: 300px;
  background-color: $color-secondary;
}
