@use '../../shared/styles/variables' as *;

.auth-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../../public/images/background.png');
  background-size: cover;
  background-position: center;
}

.toggle {
  width: 300px;
  background-color: $color-secondary;
}
