<main class="auth-container">
	<section class="auth-card">
		<img [src]="url" alt="Alaga Logo" class="logo" />

		<h2 class="title">Alaga: Pet Supplies E-store</h2>
		<p class="subtitle">Your trusted partner in pet care</p>

		<div class="toggle">
			<button
				type="button"
				class="toggle-btn"
				[class.active]="login()"
				(click)="toggleForm(true)"
			>
				Login
			</button>

			<button
				type="button"
				class="toggle-btn"
				[class.active]="!login()"
				(click)="toggleForm(false)"
			>
				Register
			</button>
		</div>

		<div class="form-container">
			@if (login()) {
				<login-form />
			} @else {
				<register-form />
			}
		</div>
	</section>
</main>
