// shared-styles.scss

@use 'variables' as *;
@use 'mixins' as *;

// global reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// base styles
body {
	font-family: $font-family-base;
	color: $color-text-primary;
	background-color: $color-bg;
}

// utility classes
.text-center {
	text-align: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
