<div id="admin-container">
  <app-navbar
    (logoutEvent)="logout()"
    (adminDashboardEvent)="goToDashboard()"
    (adminOrdersEvent)="goToOrders()"
    (adminInventoryEvent)="goToInventory()"
    [user]="user"
    [active]="active"
  >
  </app-navbar>
  @switch (active) {
    @case ('adminDashboard') {
      <app-dashboard></app-dashboard>
    }

    @case ('adminOrders') {
      <app-orders></app-orders>
    }

    @case ('adminInventory') {
      <app-inventory></app-inventory>
    }
  }
</div>
