@use '../../styles/shared-styles.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
}

.input {
  width: 100%;
  padding: $space-sm;
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  font-size: $font-size-md;
  color: $color-text-primary;
  background-color: $color-bg;

  &:focus {
    border-color: $color-primary;
    outline: none;
    box-shadow: 0 0 0 2px rgba($color-primary, 0.2);
  }

  &::placeholder {
    color: $color-text-secondary
  }
}
