@use '../../styles/shared-styles.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

:host {
	display: block;
	width: 100%;
}

.card {
	@extend .card;
  display: flex;
  flex-direction: column;
	padding: $space-md;
	border-radius: $radius-md;
	background-color: $color-surface;

	@include respond(sm) {
		padding: $space-sm;
	}

  // variants

	&.elevated {
		@include shadow(md);
		background-color: $color-surface;
	}
	&.outlined {
		border: 1px solid $color-border;
		background-color: $color-bg;
		box-shadow: none;
	}
	&.flat {
		background-color: transparent;
		box-shadow: none;
	}

  // alignment
  &.align-center {
    align-items: center;
    text-align: center;
  }
  &.align-right {
    align-items: flex-end;
    text-align: right;
  }
  &.align-left {
    align-items: flex-start;
    text-align: left;
  }

  // justification
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
}

.card {
	@include shadow(sm);
  display: flex;
  flex-direction: column;
	background-color: $color-surface;
	border-radius: $radius-md;
	padding: $space-md;
	transition: all 0.2s ease;
	color: $color-text-primary;


	// hover states
	&:hover {
		@include shadow(lg);
		transform: translateY(-2px);
	}
}
