@use "../../../shared/styles/variables" as *;
@use '../../../shared/styles/shared-styles.scss' as *;
@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/variables' as *;

.customer-container {
    height: 100vh;
    width: 100vw;
    .customer-card {
        background-color: $color-secondary;
        h1 {
            text-align: center;
            color: white;
        }
    }
}

.shop-container {
  padding: 20px;
  width: 100%;
}

h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: $color-accent
}

.search-bar {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
}

.category-row {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-bottom: 25px;
  height: 60px;
  gap: 12px;

  button {
    padding: 7px 15px;
    background: $color-bg;
    color: $color-primary;
    border-radius: 20px;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;

    &.active {
      background: $color-primary;
      color: white;
    }

    &:hover {
      background: $color-secondary;
      transform: scale(0.98) !important;
      border: 2px solid $color-primary;
    }
  }
}

.product-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-card {
  @include shadow(sm);
  background: linear-gradient(to left, $color-surface, $color-bg);
  border-radius: $radius-md;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
	color: $color-text-primary;
  justify-content: space-between;
  transition: all 0.2s ease !important;

  .img-wrap {
    width: 100%;
    height: 220px;
    background: #eee;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    padding: 15px;

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      color: #555;
      margin-bottom: 10px;
    }

    .meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      .price {
        font-weight: bold;
      }

      .tag {
        font-size: 12px;
        color: #888;
      }
    }

    .add-btn {
      width: 100%;
      padding: 10px;
      background: #6f4e37;
      color: white;
      border: 2px solid transparent;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        @include shadow(lg);
        background: $color-bg;
        color: $color-primary;
        font-weight: bolder;
        transform: translateY(-2px) scale(1.02);
        border: 3px solid $color-primary;
      }
    }
  }
  &:hover {
    @include shadow(lg);
    background: linear-gradient(to bottom, $color-secondary, $color-bg);
    color: $color-accent;
    transform: translateY(-2px) scale(1.01) !important;
    .add-btn{
      border: 2px solid $color-surface;
    }
  }
}
