<div class="shop-container">
<div style="height: 70px;"></div>
  <app-confirm-modal [product]="product" (yesEvent)="addToCart(product)"></app-confirm-modal>
  <app-modal [product]="product"></app-modal>

  <h2>Browse Our Products</h2>

  <div class="search-bar">
    <input
      class="form-control"
      type="text"
      placeholder="Search for products..."
      [value]="searchTerm"
      (input)="onSearch($event)"
    />
  </div>

  <div class="category-row">
    @for (c of categories; track c) {
      <button
        class="magictime swashIn"
        [class.active]="activeCategory === c"
        (click)="filterCategory(c)"
      >
        {{ c }}
      </button>
    }
  </div>

  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="prevPage()">&laquo;</a>
    </li>

    @for (page of pages; track page) {
      <li class="page-item" [class.active]="currentPage === page">
        <a class="page-link" (click)="goToPage(page)">
          {{ page }}
        </a>
      </li>
    }

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()">&raquo;</a>
    </li>
  </ul>

  <br>
  <div class="product-grid">

    @for (p of paginated; track p.id) {

      <div class="product-card magictime swashIn">

        <div class="img-wrap" (click)="viewProduct(p)">
          <img
            [src]="p.imageUrl ?? 'assets/images/placeholder.png'"
            [alt]="p.name"
          />
        </div>

        <div class="details">
          <h3>{{ p.name }}</h3>
          <p>{{ p.description }}</p>

          <div class="meta">
            <span class="price">${{ p.price }}</span>
            <span class="stock">Stock: {{ p.stockQuantity }}</span>
          </div>

          @if (p.stockQuantity > 0) {
            <button type="button" class="add-btn" data-bs-toggle="modal" data-bs-target="#confirmAddModal" (click)="this.product = p;">
              Add to Cart
            </button>
          } @else {
            <button class="add-btn" disabled>
              Out of Stock
            </button>
          }
        </div>
      </div>

    }
  </div>
  <br>
      <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="prevPage()">&laquo;</a>
    </li>

    @for (page of pages; track page) {
      <li class="page-item" [class.active]="currentPage === page">
        <a class="page-link" (click)="goToPage(page)">
          {{ page }}
        </a>
      </li>
    }

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()">&raquo;</a>
    </li>
  </ul>
  <br>
</div>
