@use '../auth.component.scss';

.demo-box {
	margin-top: 1.5rem;
	width: 100%;
	padding: 0.75rem;
	border-radius: $radius-lg;
	background: $bg-toggle;
	@include text(0.875rem, 400, $text-primary);

	.demo-title {
		font-weight: 600;
		margin-bottom: 0.25rem;
	}
}
