<form class="auth-form" (ngSubmit)="onSubmit()">
	<div>
		<label for="email" class="label">Email</label>
		<input
			id="email"
			type="email"
			class="input-field"
			placeholder="Enter your email"
			[ngModel]="email()"
      (ngModelChange)="email.set($event)"
			name="email"
		/>
	</div>

	<div>
		<label for="password" class="label">Password</label>
		<input
			id="password"
			type="password"
			class="input-field"
			placeholder="Enter your password"
			[ngModel]="password()"
      (ngModelChange)="password.set($event)"
			name="password"
		/>
	</div>

	<button type="submit" class="btn-primary">Login</button>
</form>

<div class="demo-box">
	<p class="demo-title">Demo credentials:</p>
	<p>Customer: customer@example.com / customer123</p>
	<p>Admin: admin@alaga.com / admin123</p>
</div>
