// button.component.scss
@use '../../styles/shared-styles.scss' as *;
@use '../../styles/_mixins.scss' as *;
@use '../../styles/_variables.scss' as *;

:host {
	display: inline-block;
}

button {
	@extend .button; // use the shared button base
	width: 100%; // or auto depending on design
	font-size: $font-size-base;

	// you can modify context-specific things here
	@include respond(sm) {
		width: 100%;
		font-size: $font-size-sm;
	}
}

button.secondary {
	@extend .button--secondary;
}

button.outline {
	@extend .button--outline;
}

button.icon {
	@extend .button--icon;
}
