// button.component.scss
@use '../../styles/shared-styles.scss' as *;
@use '../../styles/_mixins.scss' as *;
@use '../../styles/_variables.scss' as *;

:host {
	display: inline-block;
}

button {
	@extend .button; // use the shared button base
	width: 100%; // or auto depending on design
	font-size: $font-size-base;

	// you can modify context-specific things here
	@include respond(sm) {
		width: 100%;
		font-size: $font-size-sm;
	}
}

button.secondary {
	@include button($color-secondary, $color-text-primary);
	@include shadow(sm);
}

button.outline {
	background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;
  transition: all 0.2s ease;

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}

button.icon {
	@extend .button--icon;
}

.button {
	@include button();
	@include shadow(sm);

	font-weight: 500;
	text-align: center;
	width: fit-content;

  transition: all 0.2s ease;

	&--icon {
		@include flex-center();
		gap: $space-xs;
		padding: $space-xs $space-sm;
		font-size: $font-size-sm;
	}

	&:disabled {
		background-color: $color-primary;
		cursor: not-allowed;
		opacity: 0.6;
	}

  &:hover {
		@include shadow(lg);
		transform: translateY(-2px);
	}

	&:active {
		transform: translateY(0);
		@include shadow(sm);
	}
}