// _button.scss
@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.button {
	@include button(); // defaults: $color-primary background, white text
	@include shadow(sm);

	font-weight: 500;
	text-align: center;
	width: fit-content;

	&--secondary {
		@include button($color-secondary, $color-text);
		@include shadow(sm);
	}

	&--outline {
		background-color: transparent;
		color: $color-primary;
		border: 2px solid $color-primary;
		transition: all 0.2s ease;

		&:hover {
			background-color: $color-primary;
			color: #fff;
		}
	}

	&--icon {
		@include flex-center();
		gap: $space-xs;
		padding: $space-xs $space-sm;
		font-size: $font-size-sm;
	}

	&:disabled {
		background-color: lighten($color-primary, 20%);
		cursor: not-allowed;
		opacity: 0.6;
	}
}
